  <nav class="top-nav">
    <div class="top-panel">
      <a href="/"><img src="img/SV2_400x400.png" class="logo"></a>
      <a href="#" class="nav-icon-link">&#9776;</a>
    </div>
    <ul class="nav-list">
      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      <li class="nav-item"><a href="/github" class="nav-link">Github</a></li>
      <li class="nav-item"><a href="/experience" class="nav-link">Experience</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
  </nav>